<div class="spinner" *ngIf="isLoading">
  <app-spinner />
</div>

<footer class="footer" *ngIf="!isLoading">
  <div class="footer-content layout-container">
    <div class="footer-brand">
      <div class="brand-title">
        <a routerLink="/"
          ><img src="Logo.png" />
          <h2>Flavorique</h2></a
        >
      </div>
      <p>Where home recipes find their place.</p>
    </div>

    <div class="footer-links">
      <h3>Explore</h3>
      <a routerLink="/">Home</a>
      <a routerLink="/create">Add Recipe</a>
      <a routerLink="/auth/login">Login</a>
      <a routerLink="/auth/signup">Sign up</a>
    </div>

    <div class="mylogo">
      <a href="https://04marsha.github.io/marsha-sharma/">
        <img src="marsha.png" alt="marsha"
      /></a>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/marsha-sharma-8b99b42b5/"
          >Linkedin</a
        >
        <a href="https://github.com/04Marsha">Github</a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">©2025 Flavorique • Crafted with love</div>
</footer>
